<div class="conatiner">
    <div class="row">
        <div class="col-md-12 offset-md-12">
            <h2>Register Page</h2>
            <form (submit)="login()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" required [(ngModel)]="email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" required [(ngModel)]="password">
                </div>
                <button type="submit" class="btn btn-info btn-block">Register</button>
            </form>
        </div>
    </div>
</div>